.blog-container{
    background-color: rgb(235, 217, 184);
    border-radius: 10px;
}
#author1{
    background-color: red;
}
#author2{
    background-color: green;
}
#author3{
    background-color: red;
}